<div class="card shadow-sm" style="margin: 15px; border-radius: 0px; border-color: var(--grey)">
    <div class="card-header postcard" style="border-radius: 0px; background-color: var(--lgrey);">
        <h3 class="card-title postcard postcard-header">{{ post.title | strip_html | truncatewords: 3}}</h3>
    </div>
    <div class="card-body bg-white postcard">
        <img class="card-img-top postcard-image shadow-sm" src="{{ post.ao }}" alt="{{ post.title }}">
        <div class="card-img-overlay postcard-text d-flex justify-content-start align-items-end">
            <a href="{{ post.url }}" class="stretched-link postcard">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 9 }}</a>
        </div>
    </div>
</div>
